@import 'tailwindcss';
@source "./../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views";
@source "../views";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #0f172a;
  --color-secondary: #F6F6F7;
}

h1 {
    @apply text-xl sm:text-2xl font-black text-gray-900 dark:text-white tracking-tight uppercase italic;
}

h2 {
    @apply py-2 text-xl font-black text-gray-900 dark:text-gray-300 uppercase tracking-tight;
}

h3 {
    @apply py-2 text-lg font-black text-gray-900 dark:text-gray-300 uppercase tracking-tight;
}

p {
    @apply text-sm text-gray-500 dark:text-gray-400 font-medium mt-1;
}

p a {
    @apply text-slate-900 dark:text-white font-bold hover:underline;
}

hr {
    @apply border-t border-gray-100 dark:border-gray-800 my-6;
}

/** UI Utilities */
.ui-label {
    @apply text-[10px] font-black uppercase text-gray-400 dark:text-gray-400 tracking-[0.2em] mb-2 block ml-1;
}

.ui-value-large {
    @apply text-4xl font-black text-gray-900 dark:text-white mt-0.5 italic tracking-tighter;
}

.ui-section-header {
    @apply text-[9px] md:text-[10px] font-black uppercase tracking-widest md:tracking-[0.2em] mb-5 ml-1;
}

/** Tables */

table {
    @apply w-full table-auto rounded mb-5;
}

thead tr {
    @apply px-6 py-3 text-left text-xs font-medium bg-gray-100 text-gray-500 dark:bg-gray-700 dark:text-gray-200 uppercase;
}

thead th {
    @apply px-2 py-3;
}

thead tr a {
    @apply text-sky-600 dark:text-sky-300;
}

tbody tr {
    @apply bg-white dark:bg-gray-800 dark:border-gray-700 border-b border-gray-200;
}

tbody td {
    @apply px-2 py-4 whitespace-nowrap text-left text-gray-700 dark:text-gray-300;
}

tbody td a {
    @apply text-sky-600 dark:text-sky-300;
}

.error {
    @apply text-red-500 dark:text-red-300
}

.card {
    @apply bg-white dark:bg-gray-800 dark:text-white shadow rounded-md p-5 my-5;
}

 [x-cloak] {
                        display: none !important;
                    }
